/* App.css */

/* Reset some default browser styles */
body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  background-color:white;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.head {
  background-color: #10771e;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.head .Logo h1 {
  font-size: 2em;
  color: #fff8f8;
}

.head .Logo span {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

/* Social Icons */
.head .social {
  display: flex;
  gap: 10px;
}

.head .social .icon {
  font-size: 1.5em;
  color: #333;
  transition: color 0.3s;
}

.head .social .icon:hover {
  color: #f90;
}

/* Navigation */
header {
  background-color: #333;
  padding: 10px 0;
  margin-bottom: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav ul li a {
  color: green;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #f90;
}

/* Main Content */
main {
  padding: 40px 20px;
  text-align: center;
}

main h1 {
  font-size: 3em;
  color: #333;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}


/* Media Queries */
@media (max-width: 768px) {
  .flexSB {
    flex-direction: column;
  }

  .head .social {
    margin-top: 10px;
  }

  header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  main h1 {
    font-size: 2em;
  }
}
